:root {
	--main-bg-color: rgb(32,32,32);
	--main-element-color-rgb: 212, 212, 212;
	--main-element-color: rgb(var(--main-element-color-rgb));
	--main-element-color-transparent: rgba(var(--main-element-color-rgb), 0);
	--main-element-line-thickness: 2px;
	font-size: 14px;
}

body {
	overflow: hidden;
	margin: 0;
}

text {
	fill: var(--main-element-color);
	font-family: sans-serif;
}

svg text{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#fullScreenRect {
	fill: inherit;
}

#canvasBack {
	fill: rgb(68, 62, 62);
}

#frameBack {
	fill: var(--main-bg-color);
}

.n0desGroup, .c0nnectorsGroup, #canvasBack {
	mask: url("#outerN0deMask");
}

#outerN0deMask {
	fill: white;
}

#outerN0deMaskBack {
	fill: black;
}

#outerN0deFrameDef {
	fill: inherit;
}

.n0deFrame {
	rx: 4;
}

.outerN0deFrame, .innerN0deFrame {
	stroke: var(--main-element-color);
	stroke-width: var(--main-element-line-thickness);
}

.outerN0deFrame {
	fill: none;
}

.innerN0deFrame {
	fill: var(--main-bg-color);
}

.n0deTitle {
	text-anchor: middle;
	dominant-baseline: middle;
}

.n0deTitleBackground {
	rx: 3;
	fill: var(--main-bg-color);
	stroke: none;
}

.s0cketCircle {
	stroke: var(--main-element-color);
	stroke-width: var(--main-element-line-thickness);
	fill: var(--main-bg-color);
	r: 3;
}

.s0cketLabel, .s0cketType {
	font-size: .8em;
	dominant-baseline: middle;
}

.s0cketType {
	display: none;
}

.innerN0de:hover .s0cketType {
	display: inline;
}

.s0cketClickZone {
	fill: var(--main-element-color-transparent);
	z-index: 200;
}

.s0cketClickZone:hover {
	fill: url("#s0cketGradient");
}

#s0cketGradientStart {
	stop-color: var(--main-element-color);
}

#s0cketGradientEnd {
	stop-color: var(--main-element-color-transparent);
}
